.Rhistory
.RData
.Ruserdata
.Rproj.user/
*.Rproj
.Renviron
.Rprofile

__pycache__/
*.pyc
*.pyo
*.pyd
.python-version
.venv/
venv/
env/

.DS_Store
Thumbs.db
desktop.ini

*.tmp
*.temp
*.log

data/wfo/classification.tsv
mongo/subset_minor_flavonoids_V.bson
mongo/subset_minor_flavonoids_V.metadata.json
mongo/lotusUniqueNaturalProduct.bson
mongo/lotusUniqueNaturalProduct.metadata.json